// body
body {
  @include fluid-text(18, 16);

  font-family: $font-family;
  font-weight: 400;
  line-height: 23px;
  color: $color-dark;
  background-color: $color-light;
}

// длительность анимации
a,
button,
input,
textarea,
svg * {
  transition-duration: $transition-duration;
}

// сброс стилей ссылок
a {
  text-decoration: none;
  color: inherit;
}

// заголовки
h1,
h2,
h3,
h4 {
  font-weight: 500;
}

// заголовок 1
h1 {
  @include fluid-text(60, 43);
}

// заголовок 2
h2 {
  @include fluid-text(48, 36);
}

// заголовок 3
h3 {
  @include fluid-text(30, 26);
}

// заголовок 4
h4 {
  @include fluid-text(20, 18);
}
